:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #111111;
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}


body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 18px;

    background: url(@/assets/bg.png) 100% 100% no-repeat;
}

#video {
    position: fixed;
    top: 0;
    left: 0;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
