:root {

  --rv-primary-color: var(--theme-primary) !important;
  --rv-floating-panel-header-background-color: transparent !important;
  --rv-nav-bar-background-color: transparent !important;
  --rv-nav-bar-text-color: #000000 !important;
  --rv-nav-bar-icon-color: #000000 !important;
  --rv-checkbox-size: 25px !important;
  --rv-checkbox-checked-icon-color: var(--theme-primary) !important;
  --rv-dialog-border-radius: 16px !important;


}
