:root {
    --theme-primary: #E2AF6E;


    --rv-primary-color: var(--theme-primary);
}

body {
    background: url(/bg.png) no-repeat;
    background-size: 100% 100%;
    padding: 0;
    margin: 0;
}


#nprogress .bar {
    background-color: var(--theme-primary) !important;
}

#nprogress .spinner-icon {
    border-top-color: var(--theme-primary) !important;
    border-left-color: var(--theme-primary) !important;
}